<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.ambulare"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="10"
        android:targetSdkVersion="19" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" 
        android:name="com.example.ambulare.AmbulareApplication">
       
        <activity
            android:name="com.example.ambulare.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <activity android:name="com.example.ambulare.ReadBD"/>
        
        <provider 	
            android:name="com.example.ambulare.provider.GPSProvider"			  
            android:authorities="com.example.ambulare.provider.gpsprovider"	/>
        
        <service android:name="com.example.ambulare.services.GetLocationService"/>
        <service android:name="com.example.ambulare.services.AddLocationService"/>
        <service android:name="com.example.ambulare.services.AddRotaService"/>
        
    </application>

</manifest>
